@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", "Monaco", system-ui, monospace;
    color: white;
  }
  body {
    @apply bg-gray-900;
  }
}

@layer utilities {
  .tab-focus {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-outline;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-button {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-track-piece {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
}
